##### I will use Google Geocoding API with requests library for this step. Google provides 200 USD credit every month for learning their cloud.

In [123]:
import numpy as np
import pandas as pd
pd.options.display.max_rows = 999
import requests

##### API KEY is restricted only to my IP address.  Base url from the Google doccumentation on API usage.

In [125]:
API_KEY ='AIzaSyCdpGIixz5CnUOCPQLqsvyUrZavGPv8__w'
BASE_URL = 'https://maps.googleapis.com/maps/api/geocode/json?'

##### Let's load dataframe for the reference.

In [6]:
tor_df = pd.read_pickle('toronto-neighborhoods-df.pkl')
tor_df.head()

  PostalCode      Borough                            Neighborhood
0        M2R   North York                              Willowdale
1        M9A    Etobicoke                        Islington Avenue
2        M1B  Scarborough                          Malvern, Rouge
3        M1C  Scarborough  Highland Creek, Port Union, Rouge Hill
4        M1E  Scarborough       Guildwood, Morningside, West Hill

##### Then we loop over postal codes and request the data. Zip it to our dataframe and save it for the 3rd part of the Lab.

In [ ]:
latitude = []
longitude = []

for pc in tor_df.PostalCode:
    params = {
        'key' : API_KEY,
        'address': f'{pc}, Toronto, Canada'
    }
    response = requests.get(BASE_URL, params=params).json()
    if response['status'] = 'OK':
        latitude.append(response['results'][0]['geometry']['location']['lat'])
        longitude.append(response['results'][0]['geometry']['location']['lng'])
    
tor_df['Latitude'] = latitude
tor_df['Longitude'] = longitude
tor_df

In [139]:
tor_df.head().style.set_properties(**{'text-align': 'left'})

In [136]:
tor_df.to_pickle('toronto-neighborhoods-full-df.pkl')